<template name="loadData">
    <div class="container">    
        <div class="col s12 data-actions">
            <form action="#">
              <div class="file-field input-field">
                <div class="btn amber waves-effect waves-light">
                  <span>Open File</span>
                  <input type="file" id="input">
                </div>
                <button class="btn blue waves-effect waves-light import-file non-visible">Save</button>
                <div class="file-path-wrapper valign-wrapper">
                  <i class="material-icons file-icon non-visible">description</i>
                  <span class="vlign" id="input-file"></span>
                  <!--<input class="file-path validate" type="text" placeholder="Upload one or more files">-->
                </div>

              </div>
            </form>
            
        </div>
    
    </div>
</template>
