<template name="Header">
	
	<nav class="navbar navbar-default" id="main-header">
	  <div class="container">

	    <div class="navbar-header">
	      <a class="navbar-brand" href="/">
					Markets
	      </a>
	    </div>

	    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="{{pathFor route='instruments.list'}}">Instruments</a>
          </li>
          {{> loginButtons}}
        </ul>
	    </div>

	  </div> <!-- container-fluid -->
	</nav>

</template>