<template name="curveData">
    {{#if curveIsAvailable "HUF"}}
    
        <div class="simple-curve col-xs-6 col-md-3">
         
            <h4 class="curve-name-header">HUF BUBOR 3M</h4> 
        
            <table class="curve-data">
                {{#each curveBuckets "HUF_BUBOR_3M"}}
                    {{> curveItem }}
                {{/each}}
            </table>
        </div>
        
        <div class="simple-curve col-xs-6  col-md-3">
         
            <h4 class="curve-name-header">HUF BUBOR 6M</h4> 
        
            <table class="curve-data">
                {{#each curveBuckets "HUF_BUBOR_6M"}}
                    {{> curveItem }}
                {{/each}}
            </table>
        </div>
    {{/if}}
</template>