*, p, td, h1,h2,h3,h4,h5,h6, li {
    color: $dark-gray;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

html, body {
    height: 100%;
}

.active-market, .active-currency {
    opacity: 1;
}

.header-inline {
  display: inline-block;
}

