path {
    stroke: $blue;
    stroke-width: 2px;
    fill: none;
}

.axis path, 
.axis line {
    fill: none;
    stroke: $red;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

#chart {
    position: relative;
}

#chart svg {
  background: $vlOrange;
}

#chart text.chart-title {
  color: $orange;
  font-weight: bold;
}

.tooltip {
    position: absolute;
    color: black;
    background: white;
    padding: 10px;
    opacity: 0.9;
}

.tooltip-on {
    opacity: 0.9;
}

/* Grid lines  */
.grid .tick line {
  stroke: $orange;
  opacity: 0.3;
}

.grid path {
  stroke-width: 0;
}