#addBondForm {
    margin-top: 20px;
}

#insertBondMarketForm {
    margin: 20px 0;
}

.bond-list fieldset {
    border-bottom: none;
    &:last-child {
        border-bottom: 1px solid #c0c0c0;
    }
}