#new-bond-market-form {
    margin-top: 20px;
    background: $blue;
    border: none;
    
    form {
        padding:20px;
        box-radius: 5px;
        
        label {
            color: white;
        }
    }
    
}