table .curve-data {
    table-layout: fixed;
}

tr.curve-data-row {
    border-bottom: 1px solid $light-blue;
    &:first-child {
        border-top: 1px solid $light-blue;
    }
}

.curve-name-header {
    margin-bottom: 20px;
}
td.bucket-name {
    max-width: 100px;
    min-width: 100px;
    width: 100px;
    padding: 5px 10px;
}

td.bucket-price {
    min-width: 60px;
    max-width: 60px;
    width: 60px;
    padding: 5px 10px;
    text-align: right;
}