$light-blue:    #0FB9F4;
$blue:          #008AC6;
$dark-blue:     #005C85;
$red:           #F73753;
$yellow:        #FFAF18;
$green:         #8EC83E;

$orange:        #ffb832;
$lOrange:       #FFDABD;
$vlOrange:      #FFF2E8;
$pink:          #c61c6f;

$dark-gray:     #555;
$gray:          #888;
