<template name="instruments">
  
  <div class="container">
  
  
      <div class="row">
        
        <div class="col s12 load-buttons-area">
          <a href="#"><button type="button" class="btn">Load Bonds</button></a>
          <a href="#"><button type="button" class="btn">Load Curves</button></a>
        </div>

      </div> <!-- row ends -->


      <div class="row">
        
        <div class="col s12">
          {{> bondsMarketsList }}
        </div>
        
        <div class="col s12">
          {{> curvesList }}
        </div>
        
      </div> <!-- row ends -->
  
  
  </div> <!-- container ends -->

</template>