<template name="MarketOverview">
  
	<div class="container my-market">
		<div class="row">
			
			<div class="col s6 which-currency">
				<a class="btn currency" href="#" role="button">PLN</a>
				<a class="btn currency active-currency" href="#" role="button">HUF</a>
				<a class="btn currency" href="#" role="button">ZAR</a>
			</div>
		
			<div class="col s6 which-market">
				<a class="btn market active-market" href="#" role="button">SWAPS</a>
				<a class="btn market" href="#" role="button">BONDS</a>
			</div>
	
		</div> <!-- row ends -->
	</div> <!-- container ends -->
	
  
  <div class="row market-overview">
    
    <div class="col s6">
      {{#if marketForBonds }}
        {{> marketBonds}}
      {{else}}
        {{> marketSwaps }}
      {{/if}}
    </div>
    
  </div> <!-- row ends -->
  
</template>