<template name="bondsMarketsList">

    <div class="row">
      <div class="col s12">
        
        <h5 class="table-header">Bonds Markets</h5>
        <a href="#">
          <button type="button" class="btn waves-effect waves-light amber add-bond-market">Add Bonds Market</button>
        </a>
        
      </div>
    </div> <!-- row ends -->

      {{#if addBondToMarket}}
        {{> insertBondMarketForm }}
      {{/if}}
      
    <div id="bondsMarkesForm"></div>

  <table class='table all-bonds-market'>
    <tbody>
      {{#each bondsMarkets}}
        {{> BondsMarketsItem}}
      {{/each}}
    </tbody>
  </table>
  
</template>