<template name="NewBondMarketForm">
    <form class="form-horizontal">
		
	  <div class="form-group">
	    <label for="bondCurveName" class="control-label">Bond Curve Name</label>
	    <input type="curve" class="form-control" id="bondCurveName">
	  </div>
	  
	  <div class="form-group">
	    <label for="bondCurveCurr" class="control-label">Currency</label>
	    <input type="currency" class="form-control" id="bondCurveCurr">
	  </div>

      
	  <div class="form-group btns-right">
	      <button type="submit" class="btn btn-success">Save</button>
	      <button type="cancel" class="btn btn-default">Cancel</button>
	  </div>
	</form>
</template>